<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-4">
  <div class="flex flex-col items-center justify-center">
    <%= link_to "Book A Cab", root_path, class: "text-3xl font-medium py-8" %>
    <div class="border border-black rounded-md flex flex-col items-center py-4 px-6">
      <h2 class="text-2xl font-medium mb-4">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="flex flex-col my-4 min-w-96">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'rounded-md border border-black mt-1 focus:ring-black' %>
        </div>

        <div class="flex flex-col my-4">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class:'rounded-md border border-black mt-1 focus:ring-black' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="flex flex-col items-center mt-12">
          <%= f.submit "Log in", class:'min-w-max cursor-pointer bg-black text-white rounded-md py-2 px-6 hover:bg-gray-700' %>
        </div>
      <% end %>
      <div class = "mt-6">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>